<a href="https://colab.research.google.com/github/Kranthi98/Udemy-python-ML/blob/master/lectures/12_may_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas
###Why use the pandas
####1.DataFrame Object
#####-Easy to use, fast and effective for data manipulation
####2.Handle inconsistent data
#####-find and mix data
####3.Select and query the columns
#####-select and filter the rows and columns based on the query
###4.Aggregation and plotting
####-group the data and plot the HQ graphs with the simple lines

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
!mkdir data

In [0]:
!wget https://raw.githubusercontent.com/msiddalingaiah/MachineLearning/master/Notebooks/data/imports-85.data -P data

--2020-05-12 11:19:01--  https://raw.githubusercontent.com/msiddalingaiah/MachineLearning/master/Notebooks/data/imports-85.data
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [text/plain]
Saving to: ‘data/imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.01s

2020-05-12 11:19:02 (2.51 MB/s) - ‘data/imports-85.data’ saved [25936/25936]

In [0]:
colnames = ['symboling','normalised_losses','make','fuel_type','aspiration','num_of_doors','body_style','drive_wheels','engine_location','wheel_base','length','width','height','curb_weight',
            'engine_type','num_of_cylinders','engine_size','fuel_system','bore','stroke','compression_ratio','horsepower','peak_rpm','city_mpg','highway_mpg','price']

In [0]:
cars = pd.read_csv('/content/data/imports-85.data',names=colnames)

In [0]:
cars.head()

   symboling normalised_losses         make  ... city_mpg highway_mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [0]:
print('the len of the cars %d' %len(cars))

the len of the cars 205

In [0]:
cars[1:5]

   symboling normalised_losses         make  ... city_mpg highway_mpg  price
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[4 rows x 26 columns]

####Getting specific columns

In [0]:
cars[['symboling','make']].head()

   symboling         make
0          3  alfa-romero
1          3  alfa-romero
2          1  alfa-romero
3          2         audi
4          2         audi

In [0]:
cars.columns

Index(['symboling', 'normalised_losses', 'make', 'fuel_type', 'aspiration',
       'num_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [0]:
cars.describe()

        symboling  wheel_base  ...    city_mpg  highway_mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]

In [0]:
cars.dtypes

symboling              int64
normalised_losses     object
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [0]:
cars.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [0]:
cars.sort_values(by="price",ascending = False)[['price']].head(10)

    price
44      ?
45      ?
129     ?
9       ?
188  9995
169  9989
175  9988
190  9980
143  9960
80   9959

In [0]:
cars1 = cars[cars.price.str.isnumeric()].copy()

In [0]:
cars1.dtypes

symboling              int64
normalised_losses     object
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [0]:
cars1.price = cars1.price.astype(float)

In [0]:
cars1.describe()

        symboling  wheel_base  ...  highway_mpg         price
count  201.000000  201.000000  ...   201.000000    201.000000
mean     0.840796   98.797015  ...    30.686567  13207.129353
std      1.254802    6.066366  ...     6.815150   7947.066342
min     -2.000000   86.600000  ...    16.000000   5118.000000
25%      0.000000   94.500000  ...    25.000000   7775.000000
50%      1.000000   97.000000  ...    30.000000  10295.000000
75%      2.000000  102.400000  ...    34.000000  16500.000000
max      3.000000  120.900000  ...    54.000000  45400.000000

[8 rows x 11 columns]

In [0]:
cars1.sort_values(by = 'price',ascending=False)['price'].head()

74     45400.0
16     41315.0
73     40960.0
128    37028.0
17     36880.0
Name: price, dtype: float64

In [0]:
cars1.dtypes

symboling              int64
normalised_losses     object
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [0]:
cars1.groupby(['fuel_type','make']).mean().head()

                         symboling  wheel_base  ...  highway_mpg         price
fuel_type make                                  ...
diesel    mazda           0.000000  101.850000  ...    40.500000  14569.500000
          mercedes-benz  -0.750000  110.575000  ...    25.000000  28394.000000
          nissan          1.000000   94.500000  ...    50.000000   7099.000000
          peugot          0.000000  110.420000  ...    29.800000  15797.000000
          toyota         -0.333333   97.933333  ...    38.666667   8794.666667

[5 rows x 11 columns]