<a href="https://colab.research.google.com/github/Kranthi98/Udemy-python-ML/blob/master/lectures/29_apr_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
A = "kranthi"
A
print(type(A))
len(A)
A[1]
A[-1]
A[2:4]

<class 'str'>

'an'

In [0]:
age = 22
"age of kranthi is %d" %age

'age of kranthi is 22'

#string formating wtih printf 
we use printf since it is flexible
this is the printf format of sring formatting
%d refers to thing that need to be substituted and then we refer it with same %then with variable

In [0]:
height = 172
"age of kranthi is %.2f yrs and his height is %.2f cm" %(age,height)

'age of kranthi is 22.00 yrs and his height is 172.00 cm'

#formatting for multiple values
2 refers for 2 digits precision and f refers for floating type
() refers tuple

#using format for same thing

In [0]:
"age of kranthi {x:.2f}yrs and height is {y:.2f}".format(x = age,y = height)

'age of kranthi 22.00 and height is 172.00'

In [0]:
f'age of lranthi is {age:.2f} and his height is {height} and half of his age is {0.5* age}'

'age of lranthi is 22.00 and his height is 172 and half of his age is 11.0'

In [0]:
from google.colab import drive
drive.mount('/content/drive')